
<!DOCTYPE html>
<html>
<head>
<title>Holiday Home Portal</title>
</head>
<body>
<h1>Welcome to the Holiday Home Portal!</h1>
<p>Search for your perfect holiday rental:</p>
<form action="/search" method="GET">
<label for="destination">Destination:</label>
<input type="text" name="destination" id="destination">
<br>
<label for="start_date">Start Date:</label>
<input type="date" name="start_date" id="start_date">
<br>
<label for="end_date">End Date:</label>
<input type="date" name="end_date" id="end_date">
<br>
<input type="submit" value="Search">
</form>
</body>
</html>


